.middleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}
.card {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
}
.card-img-top {
  width: 200px;
}
